.navbar-default {

  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
  background-image: linear-gradient(to bottom right, #218cba, #e5f3f9);
}

#grad {
    background-color: ;
  color: #e5f3f9;
  background-image: linear-gradient(to bottom right, red, yellow);
}