.navbar-default {
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
  background-image: linear-gradient(to bottom right, #218cba, #e5f3f9);
}

.navbar-default .navbar-right>.active>a, 
.navbar-default .navbar-right>.active>a:hover, 
.navbar-default .navbar-right>.active>a:focus {
  color: black;
  font-size: medium;
}

.navbar-default .navbar-right>li>a {
  color: white;
  font-size: medium;
}

.dropdown-menu {
  text-align: center;
  transform: translate(-50%, 0);
}