.img1 {
  opacity: 0.5;
  vertical-align: top;
}
  
.img1:hover {
  opacity: 1;
}

.navbar-default {
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
  background-image: linear-gradient(to bottom right, #218cba, #2F9D66);
}

.navbar-default .navbar-right>.active>a, 
.navbar-default .navbar-right>.active>a:hover, 
.navbar-default .navbar-right>.active>a:focus {
  color: black;
  font-size: medium;
}

.navbar-default .navbar-right>li>a {
  color: white;
  font-size: medium;
}

.dropdown-menu {
  text-align: center;
  transform: translate(-50%, 0);
}

.btn-default {
  background: none;
  border: 2px solid #2F9D66;
  border-color: #2F9D66;
  color: #2F9D66;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius:0;
}

.btn-default:hover {
  background: #1C5E3D;
  border-color: #1C5E3D;
  color: #FFFFFF;
}

#site_footer {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  height: 15em;
}

#site_footer.footer {
  background-color: #f2f4f7;
  padding: 4% 8%;
  margin-top: 7em;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}

#site_footer .footer {
  color: #2F9D66;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 14px;
}

.footerContent a {
  color: #2F9D66;
}

.footerContent a:hover {
  color: #1C5E3D;
}
